* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

.container-list {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#array-list {
  height: 300px;
  width: 300px;
  background: #f8c555;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: capitalize; /* capitalize first character inside ul */
}

.uman-position {
  height: 30px;
  width: 30px;
  background-color: #ecdb54;
}
